.contactPage-RHS-content {
	position: absolute;
	right: 0px;
	height: 100vh;
	width: 61.8vw;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-left: 1px solid black;
	
}

.contact-frame {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	/*background-color: lightblue;*/
	width: 61.8%;
	height: 90%;
	
}

.contact-title-1 {
	text-align: center;
	font-size:15vh;
	padding: 0;
/*	background-color: lightpink;*/
}



.form-area {
	display: flex;
	flex-direction: column;
/*	background-color: lightgreen;*/
	width: 100%;
	height: 100%;
}

.name-email-box {
	padding-top: 0.3rem;
	padding-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
/*	background-color: lightblue;*/
	width: 100%;
}

.contact-input-line {
	font-size: 1rem;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 0.2rem solid lightgrey;
	outline: none;
	width:40%;

}

.message-box {
	width: 100%;
	height:100%;
	resize: none;
	border: 0.2rem solid lightgrey;
	overflow:auto;
	padding: 0.1rem;
	outline:none;
}

#contact-send-button {
	width: 100%;
	padding:1rem;
	background-color: blue;
	border: none;
	font-size: 10vh;
	font-weight: 400;
	transition: font-weight 0.15s;
	transition: transform 0.15s;
	color: white;
	border-radius: 2rem;
	margin-bottom: 0.3rem;
	margin-top:0.3rem;
	transform: scale(0.9);
	text-align: center;
}

#contact-send-button:hover {
	cursor: pointer;
	background-color: red;
	font-weight: 700;
	transform: initial;
}


@media(max-width:900px){

	.contactPage-RHS-content{
		padding-bottom: 10vh;
	}
	.contact-title-1{
		font-size: 10vh;
	}

	#contact-send-button{
		font-size: 5vh ;
		margin-bottom: 10vh;
	}

	.contact-input-line{
		font-size: 0.5rem;
	}

	
}