.DifDafPage-RHS-content {
	position: absolute;
	right: 0px;
	height: 100vh;
	width: 61.8vw;
	background-color:white;
  display:flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid  black;
}

#difdaf{
	position:absolute;
	align-self:center;
	cursor:pointer;
	
}
/*
#difdaf:hover{
	transform: rotate(90deg);
}
*/

.dif-daf-info{
	padding:3rem;
}

.dif-daf-info{
	font-weight: 700;
	color: #7934e0;
}