*{
	font-family: 'Ubuntu', Arial;
}

body{
	margin: 0px;
	padding: 0px;
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: orange;
	overflow: hidden;
}



/*
 here maybe https://www.linkedin.com/pulse/how-using-rem-can-help-you-build-excellent-andr%C3%A9-fillype/
*/



@media(max-width:900px){
html{
	font-size: 70%;
}
}





