.projectPage-RHS-content {
	position: absolute;
	right: 0px;
	height: 100vh;
	width: 61.8vw;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px solid black;
}

.projects-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 61.8%;
	height: 90%;
	


}

.project-title-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	
	
	
	
}

.project-title {
	/*font-size: 3rem;*/
	font-size: clamp(0.8rem, 2.5vw, 2rem);
	font-weight: 400;
	max-width: 100%;
	/*margin: 2rem;*/
	transition: font-weight 0.15s, transform 0.15s;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.2;

}


@media (max-width: 500px) {
	.project-title{
		/*font-size: 1rem;*/
		font-size: clamp(0.7rem, 4vw, 1.5rem);
	}

	.projects-container{
		width: 90%;
	}

	.project-emoji{
		/*font-size: 1rem;*/
		font-size: calc(0.5vw + 0.5vh);
		width: 2rem;
	}
	}


.project-emoji {
	font-size: 3rem;
	font-size: calc(3vw + 3vh);
	transition: all 0.7s;
	width: 4rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.project-title:hover {
	font-weight: 700;
	cursor: pointer;
}

/*
a.nostyle:link, a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}
*/
