.sidebar{
  position: absolute;
  background-color: white;
  left:0px;
  width:38.2vw;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-evenly;
}

.sidebar-title{
  font-size: 5rem;
  font-weight: 400;
  /*margin: 0.3rem;*/
  transition: font-weight 0.15s, transform 0.15s;
}

.sidebar-title:hover{
  font-weight:700;
  /*font-style:italic;*/
  cursor:pointer;
}

a.nostyle:link, a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

a.difdaf:hover{
  color:#f35e0e;
}
