body {
	margin: 0px;
	padding: 0px;
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: orange;
	font-family: 'Ubuntu', Arial;
	overflow: hidden;
}

.playground {
	right:0;
	padding: 0;
	margin: 0;
	width: 70vw;
	height: 100vh;
	background-color: darkgreen;
	overflow: hidden;
	position: absolute;
}

.shapesPage-RHS-content {
	position: absolute;
	
	right: 0px;
	height: 100vh;
	width: 61.8vw;
	background-color: white;
	border-left: 1px solid black;
}

#shape {
	position: absolute;
  top:20px;

	/*z-index: 3;*/
	/*
  width: calc(100vw/5);
  height: calc(100vw/5)
  */
  
  
	/*
	left: calc(50vw - 150px);
	top: calc(50vh - 28px);
  */
}
